@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-700 text-white;
}

.icons-container {
  height: 12.5vmin;
  width: 12.5vmin;
  padding: 0.5rem;
}

.tools-banner {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #918eba;
  padding: 20px;
  overflow: hidden;
}

.tools-banner li {
  width: auto;
  height: auto;
  padding: auto;
  animation: slideBanner 10s linear infinite;
}

@keyframes slideBanner {
  0% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-40%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(0%);
  }
}

#tools  {
  margin-top: 5px;
  width: auto;
  font-size: 1rem;
}

#tools ul {
  list-style: none;
}

#tools li {
  margin-top: 2px;
  font-size: 1.1rem;
  list-style: none;
}

.aside-arrows {
  color: #918eba;
}

.header-next-app {
  display: flex;
  justify-content: justify-between;
  align-items: center;
  flex-direction: row;
  color: #918eba;
  padding: 1rem 2.5rem;
  border-bottom: 1px solid #918eba;
}
.footer-next-app {
  display: flex;
  align-items: center;
  flex-direction: row;
  color: #918eba;
  background-color: black;
}
